main {
  max-width: 420px;
  text-align: center;
  margin-top: 50px;
}

main h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #222;
}

#mensaje {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #d93535;
}
